

td {
    border: 1px solid white;
}

.board-container {
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    border: 1px solid #000;
}


.my-table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}



  