

td {
    border: 1px solid white;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

.cell {
    width: 30px;
    height: 30px;
    
}

.nothing {
    display: flex;
    justify-content: center;
}


.my-table {
    width: 50%;
    border-collapse: collapse;
   

}

.icon {
    color: thistle;
    font-size: 15px;

}


@media screen and (max-width: 1542px) {
    .cell {
        width: 25px;
        height: 25px;

    }
  
   
  } 


  @media screen and (max-width: 542px) {
  

    .icon {
        font-size: 5px;
    
    }
  
   
  } 

/* @media screen and (max-height: 298px) {
    .cell {
        width: 10px;
        height: 10px;

    }

    .icon {
        font-size: 10px;
    
    }
  
  
   
} */


@media screen and (max-height: 648px) {
    .cell {
        width: 15px !important;
        height: 15px !important;

    }
  
    .icon {
        font-size: 5px !important;
    
    }
   
} 