

.cell {
    cursor: pointer;
    /* text-align: center;  
    vertical-align: middle;  */
    
    
}

.icon-container {
    display: flex;
    justify-content: center; 
}




.bacteria-hidden {
    visibility: hidden;
}


.bacteria-visible {
    visibility: visible;
    color: thistle;

}
